/* Definição de todas as cores da página */
:root {
    --cor-primaria: #1a1a1a ;
    --cor-secundaria: red;
    --cor-terciaria: yellow;
    --cor-quartenaria: #000000;
    --cor-fundo: #f1f1d6;
    --fonte-primaria: 'Times New Roman', serif ;
    --fonte-secundaria: Arial, Helvetica, sans-serif; 
}

html {
    scroll-behavior: smooth; /* comportamento-da-rolagem: suave */
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    text-align: center;
    margin: 96px 0;
    /* background-image: url(./Matheus+Evelyn-fundo.jpeg) */
}

.titulo-de-pagina {
    color:var(--cor-primaria);
    line-height: 2;
    font-weight: bold;
    font-size: 22pt;
    font-family: var(--fonte-secundaria);

}

.titulo-de-artigo {
    color:var(--cor-secundaria);
    line-height: 2;
    font-weight: bold;
    font-size: 18pt;
    font-family: var(--fonte-secundaria);
}

.titulo-de-secao {
    color:var(--cor-secundaria);
    line-height: 1.8;
    font-weight: bold;
    font-size: 18pt;
    font-family: var(--fonte-secundaria);

}

.subtitulo-de-artigo {
    color: var(--cor-secundaria);
    line-height: 1.5;
    font-weight: bold;
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    margin bottom: 10px;
}

p {
    color:var(--cor-primaria);
    line-height: 1.2;
}

.paragrafo-de-artigo {
    background-color:var(--cor-primaria);
    padding: 10px 20px 0px 20px;
}

/* Para remover espaçamento de linhas de um paragrafo para outro */
p + .paragrafo-de-artigo {
    padding-top: 1;
    color: var(--cor-secundaria);
}

article {
    border: 8px double var(--cor-secundaria);
    padding: 30px;
    margin: 30px 0;
    border-radius: 50px;
}

details {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    
}


/* .menu-principal ul {
    background-color: var(--cor-primaria);
} */

.menu-principal li {
    color: var(--cor-secundaria);
    display: flex; 
    line-height: 100px;
    transition: background, .35s ease-in-out, font .2;
}

.menu-principal a {
    color: var(--cor-secundaria);
    font-family: var(--fonte-primaria);
    font-size: 120%;
    padding: 0 20px;
}

.menu-principal a:hover {
    background-color: var(--cor-primaria);
    border-radius: 120px;


}

.menu-principal ul{
    background-color: var(--cor-primaria);
    padding: 0;
    border-radius: 120px;
    /* text-align: center; */
    display: flex;
    justify-content: space-around;

}

p + .paragrafo-de-artigo {
    padding-top: 0;
}